In [ ]:
! pip install -q kaggle
from google.colab import files
files.upload()

In [ ]:
! mkdir ~/.kaggle/
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 98% 224M/228M [00:01<00:00, 143MB/s]
100% 228M/228M [00:01<00:00, 131MB/s]

In [ ]:
from zipfile import ZipFile
file_name = "the-movies-dataset.zip"
with ZipFile(file_name, 'r') as zip:
    print('Extracting all the files now...')
    zip.extractall()
    print('Done!')

Extracting all the files now...
Done!

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from zipfile import ZipFile as zip

In [20]:
movies_df = pd.read_csv('/content/movies_metadata.csv')
movies_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [21]:
movies_df = movies_df[['id','original_title']]

In [22]:
movies_df

           id               original_title
0         862                    Toy Story
1        8844                      Jumanji
2       15602             Grumpier Old Men
3       31357            Waiting to Exhale
4       11862  Father of the Bride Part II
...       ...                          ...
45461  439050                      رگ خواب
45462  111109          Siglo ng Pagluluwal
45463   67758                     Betrayal
45464  227506          Satana likuyushchiy
45465  461257                     Queerama

[45466 rows x 2 columns]

In [23]:
ratings_df = pd.read_csv('/content/ratings_small.csv',usecols=['userId','movieId','rating'],dtype={'userId':'int64','movieId':'int64','rating':'float64'})

In [24]:
ratings_df.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [25]:
final_dataset = ratings_df.pivot(index='movieId',columns='userId',values='rating')
final_dataset.head()

userId   1    2    3    4    5    6    7    ...  665  666  667  668  669  670  671
movieId                                     ...
1        NaN  NaN  NaN  NaN  NaN  NaN  3.0  ...  NaN  NaN  NaN  NaN  NaN  4.0  5.0
2        NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  3.0  NaN  NaN  NaN  NaN  NaN  NaN
3        NaN  NaN  NaN  NaN  4.0  NaN  NaN  ...  3.0  NaN  NaN  NaN  NaN  NaN  NaN
4        NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5        NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  3.0  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 671 columns]

In [26]:
final_dataset.fillna(0,inplace=True)
final_dataset.head()

userId   1    2    3    4    5    6    7    ...  665  666  667  668  669  670  671
movieId                                     ...
1        0.0  0.0  0.0  0.0  0.0  0.0  3.0  ...  0.0  0.0  0.0  0.0  0.0  4.0  5.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0
3        0.0  0.0  0.0  0.0  4.0  0.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 671 columns]

In [28]:
no_user_voted = ratings_df.groupby('movieId')['rating'].agg('count')
no_movies_voted = ratings_df.groupby('userId')['rating'].agg('count')

In [29]:
final_dataset = final_dataset.loc[no_user_voted[no_user_voted > 10].index,:]

In [30]:
final_dataset.head()

userId   1    2    3    4    5    6    7    ...  665  666  667  668  669  670  671
movieId                                     ...
1        0.0  0.0  0.0  0.0  0.0  0.0  3.0  ...  0.0  0.0  0.0  0.0  0.0  4.0  5.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0
3        0.0  0.0  0.0  0.0  4.0  0.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 671 columns]

In [31]:
csr_sample = csr_matrix(final_dataset)
csr_sample

<2083x671 sparse matrix of type '<class 'numpy.float64'>'
	with 80295 stored elements in Compressed Sparse Row format>

In [32]:
print(csr_sample)

  (0, 6)	3.0
  (0, 8)	4.0
  (0, 12)	5.0
  (0, 14)	2.0
  (0, 18)	3.0
  (0, 19)	3.5
  (0, 22)	3.0
  (0, 25)	5.0
  (0, 29)	4.0
  (0, 36)	4.0
  (0, 42)	4.0
  (0, 43)	4.0
  (0, 46)	5.0
  (0, 47)	4.0
  (0, 54)	3.0
  (0, 55)	4.0
  (0, 62)	5.0
  (0, 66)	3.0
  (0, 67)	4.0
  (0, 68)	5.0
  (0, 69)	5.0
  (0, 71)	3.5
  (0, 72)	5.0
  (0, 74)	3.0
  (0, 76)	4.0
  :	:
  (2081, 302)	4.0
  (2081, 333)	4.0
  (2081, 363)	5.0
  (2081, 370)	4.5
  (2081, 401)	3.5
  (2081, 474)	5.0
  (2081, 518)	3.5
  (2081, 525)	4.5
  (2081, 546)	4.0
  (2081, 566)	3.5
  (2081, 614)	5.0
  (2081, 624)	4.5
  (2081, 662)	4.0
  (2082, 14)	2.5
  (2082, 55)	4.0
  (2082, 71)	3.5
  (2082, 72)	4.0
  (2082, 249)	4.0
  (2082, 276)	3.0
  (2082, 370)	4.0
  (2082, 379)	4.0
  (2082, 456)	3.5
  (2082, 485)	3.5
  (2082, 546)	3.5
  (2082, 614)	4.0

In [33]:
csr_data = csr_matrix(final_dataset.values)
final_dataset.reset_index(inplace=True)

In [34]:
model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
model.fit(csr_data)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [120]:
def recommendation(name):
  n_movies_to_reccomend = 10
  movie_list = movies_df[movies_df['original_title'].str.contains('name')]
  if len(movie_list):        
    movie_idx= movie_list.iloc[0]['id']
    # print(movie_idx)
    distances , indices = model.kneighbors(csr_data[movie_idx],n_neighbors=n_movies_to_reccomend)    
    # print(distances,indices)  
    lis = indices.squeeze().tolist()
  print(f'Recommendation for movie {name} are: ')
  a = []
  for i in lis:
    a.append(movies_df.iloc[i,1])
  for i in a:
    print(i)

In [121]:
recommendation('Iron Man')

Recommendation for movie Iron Man are:
Mercury Rising
紅番區
Sixteen Candles
Welcome to Woop Woop
Boogie Nights
Lawn Dogs
Cavalcade
The Broadway Melody
Time Tracers
Whatever